.button-wrapper {
   height: 4em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: lighter;
   font-size: 1.4em;
   background-color: #130023;
   color: rgb(136, 0, 255);
   flex: 1;
   outline: 1px solid rgb(255, 171, 26);
}

.operator {
    background-color: #FA0C6E;
    color: white;
}
